.filter-div {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.date-filter-button,
.date-filter-button:focus {
  color: black;
  background: none;
  outline: none;
  border: none;
}
/* .date-filler-button:hover {
  background: black;
  color: white;
} */
.launch-filter-button {
  color: black;
  background: none;
  border: none;
}

.modalMenu {
  display: flex;
}

.modalRight {
  padding-right: 1%;
}

.CustomDate {
  margin-bottom: 20%;
}

.CustomDate:hover {
  cursor: pointer;
}
.div-table {
  display: flex;
  justify-content: center;
  /* margin-top: 1px; */
  /* padding-top: 1%; */
}
